body{
    color:#777777;
    background-color:#cccccc;
    font-family: helvetica;
    min-height:800px;
    padding-bottom:80px;
}

h1{
    font-size: 30px;
    color: #4aaaa5;
    border-bottom: solid #cccccc;
}

p {
    font-size: 20px;
    margin-left: 19px;
}

footer{
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    height: 25px;
    width: 100%;
    padding-top: 20px;
    position: fixed;
    bottom: 0;
    left:0;
    border-top: solid 5px #4aaaa5;
    bottom: 0px;
    z-index:5;
}

button{
    background-color: #4aaaa5;
    color: #ffffff;
    padding:15px 30px;
    font-size: 15px;
    text-align: center;
}

table{
    border-spacing:80px 0px;
    border-collapse:separate;
    margin-left:auto;
    margin-right:auto;
}

.headerbar{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    border-bottom: solid #cccccc 5px;
    width: 100%;
    z-index:5;
}

.nameplate{
    background-color:#4aaaa5;
    color:#ffffff;
    font-size: 25px;
    position: relative;
    float: left;
    height: inherit;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    left:20%;
    z-index:inherit;
}

.nav{
    float: right;
    display: table;
    position: fixed;
    right: 20%;
}

#profpic{
    border:solid #777777 1px;
    margin-right: 20px;
    margin-left: 20px;
    clear: both;
    height: 25%;
    width: 25%;
    float: left;
}
.contentbody{
    background-color: #ffffff;
    border: solid 1px #777777;
    width:960px;
    padding: 10px;
    margin-bottom:60px;
    position: absolute;
    top: 85px;
    left: 20%;
}

.Portfolio_Label{
    background-color:#4aaaa5;
    color: #ffffff;
    height:60px;
    width:100%;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items:center;
    position:relative;
    bottom:30%;
    z-index:2;
}

.Portfolio_Pic{
    position:relative;
    top:0px;
    left:0px;
    z-index:1;
}

.Table_Wrapper{
    position:relative;
    width:100%;
    height:100%;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

a:link{
    color: #cccccc
}
a:visited{
    color: #800080;
}
a:hover{
    color: green;
}
a:active{
    color: #ff0000;
}